

<h2>TestandoAgain</h2>



<app-parent-data [name]="userName" [userName2]="userName2"></app-parent-data>


<app-first-component></app-first-component>



<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum accusantium est aut ullam magnam sunt repellendus iure? Dolore a magnam dolor dicta ipsa, itaque temporibus dolores. Deleniti vero unde culpa.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, repudiandae? Quidem maiores eligendi velit voluptatum praesentium eaque saepe, porro ea labore error quae quasi adipisci libero! Maxime sequi accusamus quam.</p>

