<h2>TesteHoraDeCodar</h2>

<h2>nome: {{ name }}</h2>
<h1>idade: {{ idade }}</h1>
<h1 class="title">Profissão: {{ job }}</h1>
<h3>Hobbies: {{ Hobbies [2]}}</h3>
<h3>Nome do carro: {{ car.name }} - {{ car.year }}</h3>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et a temporibus labore odit quae deserunt voluptatem perspiciatis ratione est atque corporis animi, adipisci praesentium debitis, aut tempore rem odio. Sint!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore asperiores, dolorem explicabo ipsa non neque repellendus nobis debitis corrupti nostrum rerum quidem minus praesentium distinctio eligendi! Optio cupiditate quia totam.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia odio quas ipsa, inventore hic optio aspernatur consequuntur distinctio neque voluptates ea? Repellat, vero velit dicta ipsum sed animi exercitationem vel?</p>
